h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 160, 59)
}

.wrapper {
    display: flex;
    justify-content: center;
}
 .list-container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
 }

.content-body {
    background-color: rgba(242,250,255,0.49);
}
