<h3>Sign in</h3>

<button (click)="reset()"> reset </button>
<form [formGroup]="loginForm"
      (ngSubmit)="signIn()">
    <ul>
    <li>
        <input formControlName="username"
               placeholder="username" type="text">
        <span *ngIf="loginForm.get('username').errors?.required">user name is required</span>
    </li>
    <li>
        <input formControlName="password"
               placeholder="password" type="password">
    </li>
    <li>
        <button>submit</button>
    </li>
    </ul>
</form>
